.lg-container {
    margin: 0 auto;
    height: 100%;
    max-width: 144rem;
}

@mixin lg-container-padding($padding-x, $padding-y: 0) {
    .lg-container {
        padding: $padding-y $padding-x;
    }
}
