<th :scope="scope" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
    <div class="flex items-center">
        <span :class="{ 'mr-2 cursor-pointer': sortable }" @click.stop="$emit('sort')">
            {{ content }}
        </span>
        <span class="flex" v-show="sortable && content">
            <ArrowSmUpIcon class="w-3 cursor-pointer" :class="[sorted != 'up' ? 'text-gray-300' : 'text-black']"
                @click.stop="$emit('up')" />
            <ArrowSmDownIcon class="w-3 cursor-pointer" :class="[sorted != 'down' ? 'text-gray-300' : 'text-black']"
                @click.stop="$emit('down')" />
        </span>
    </div>
</th>