<TableData>
    <ViewListIcon class="w-5 h-5 mx-auto text-yellow-400" />
</TableData>
<TableData>
    <div class="flex items-center">
        <div class="text-sm font-medium text-gray-900 whitespace-normal">{{ list.title }}</div>
    </div>
</TableData>
<TableData>
    <div class="text-sm text-gray-500">{{ shared ? "Mon copain" : "Moi" }}</div>
</TableData>
<TableData v-show="!shared">
    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full" :class="{
            'bg-red-100 text-red-800': !list.isShared,
            'bg-green-100 text-green-800': list.isShared,
        }">
        {{ list.isShared ? labels.lists.status.public : labels.lists.status.private }}
    </span>
</TableData>
<TableData class="text-sm text-gray-500">
    {{ list.closureDate ? list.closureDate : "-" }}
</TableData>

<td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
    <button v-show="shared" @click.stop="$emit('details', list)"
        class="mx-2 text-indigo-600 font-medium hover:text-indigo-900">
        <span class="flex items-center px-2 py-1 hover:bg-indigo-100 rounded-md">
            <InformationCircleIcon class="h-4 w-4 mr-2" />
            {{ labels.lists.buttons.info }}
        </span>
    </button>
    <button v-show="!shared" @click.stop="router.push(`/app/lists/${list.id}/settings`)"
        class="mx-2 text-indigo-600 font-medium hover:text-indigo-900">
        <span class="flex items-center px-2 py-1 hover:bg-indigo-100 rounded-md">
            <CogIcon class="h-4 w-4 mr-2" />
            {{ labels.lists.buttons.settings }}
        </span>
    </button>
    <button v-show="!shared" @click.stop="$emit('delete', list)"
        class="ml-2 text-red-600 font-medium hover:text-red-900">
        <span class="flex items-center px-2 py-1 hover:bg-red-100 rounded-md">
            <TrashIcon class="h-4 w-4 mr-2" />
            {{ labels.lists.buttons.delete }}
        </span>
    </button>
</td>