<InputWrapper :label="label" :isError="isError" :errorMessage="errorMessage" :selected="selected"
    :helperText="helperText">
    <input type="date" v-model="dateValue" class="outline-none cursor-text px-3 py-2 flex-1" @focus="onFocus"
        @blur="onBlur" :disabled="disabled" />
    <button @click="openModal" class="relative w-8 border-l border-gray-100 hover:bg-gray-100">
        <CalendarIcon class="
					absolute
					w-5
					top-1/2
					left-1/2
					transform
					-translate-x-1/2 -translate-y-1/2
					text-indigo-600
				" />
    </button>
    <Modal :show="showDatePicker" :title="label" confirmText="Confirmer" cancelText="Annuler" @close="onCloseModal"
        @confirm="onModalConfirm">
        <div class="p-4 px-8 flex flex-col items-stretch gap-y-4">
            <DatePickerHeader :currentDay="currentDayHeader" :currentMonth="currentMonthHeader"
                :currentYear="currentYearHeader" :disableLeftArrow="disableLeftArrow"
                @previous="handleDatePickerHeaderArrowClick('previous')" @day="handleDatePickerHeaderClick('day')"
                @month="handleDatePickerHeaderClick('month')" @year="handleDatePickerHeaderClick('year')"
                @next="handleDatePickerHeaderArrowClick('next')" />
        </div>
        <div class="h-72 px-8">
            <DatePickerDay v-show="!yearIsSelected && !monthIsSelected" :currentDate="datePickerValue"
                @day="handleDateChange" />
            <DatePickerMonth v-show="monthIsSelected" :currentMonth="currentMonth" :monthes="monthes"
                @month="handleMonthChange" />
            <DatePickerYear v-show="yearIsSelected" :currentYear="currentYear" @year="handleYearChange" />
        </div>
    </Modal>
</InputWrapper>