<div class="grid grid-cols-3 gap-4 divide-y">
    <div class="col-span-full grid grid-cols-3">
        <InputText class="col-span-1" :label="values.title.label" :value="values.title.value"
            @change="handleTitleChange" :helperText="values.title.helperText" :placeholder="values.title.placeholder"
            :isError="values.title.errorMessage !== ''" :errorMessage="values.title.errorMessage"
            :mandatory="values.title.required" reset>
            <div class="mr-4">
                <CollectionIcon class="w-5 h-5 text-indigo-600" />
            </div>
        </InputText>
        <InputText class="col-span-3 pt-4" :label="values.description.label" :value="values.description.value"
            :helperText="values.description.helperText" :placeholder="values.description.placeholder"
            :isError="values.description.errorMessage !== ''" :errorMessage="values.description.errorMessage"
            :mandatory="values.description.required" reset @change="handleDescriptionChange">
            <div class="mr-4">
                <AnnotationIcon class="w-5 h-5 text-indigo-600" />
            </div>
        </InputText>
    </div>

    <div class="col-span-full flex items-center pt-4">
        <InputToggle class="col-span-full" :label="values.activateTermDate.label" :value="values.activateTermDate.value"
            @change="handleActivateTermDateChange" inline :helperText="values.activateTermDate.helperText">
            <div class="mr-4">
                <CalendarIcon class="w-5 h-5"
                    :class="values.activateTermDate.value ? 'text-indigo-600' : 'text-gray-600'" />
            </div>
        </InputToggle>
        <InputDate :disabled="!values.activateTermDate.value" class="col-span-full self-stretch mx-auto py-4 w-auto"
            :label="values.termDate.label" :value="values.termDate.value" :helperText="values.termDate.helperText"
            :isError="values.termDate.errorMessage !== ''" :errorMessage="values.termDate.errorMessage" mandatory
            @change="handleTermDateChange" />
    </div>
</div>