<div v-if="loading">Loading...</div>
<DefaultLayout v-else :title="gift.title" back :backButtonTitle="list.title" :backButtonLink="'/app/lists/' + list.id">
    <template v-slot:commands>
        <Button btnStyle="danger" hasIcon @click="handleDeleteModal">
            <template v-slot:icon>
                <TrashIcon />
            </template>
            {{ labels.gift.buttons.delete }}
        </Button>
    </template>
    <GiftForm action="update" :values="giftInformation" @change="handleGiftInformationChange" @cancel="cancel"
        @confirm="saveGiftChanges" />

    <Modal :show="modal.showModal" :title="modal.title" :confirmText="modal.confirmText"
        @close="modal.showModal = false" @confirm="modal.confirm" type="danger">
    </Modal>
</DefaultLayout>