*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: inherit;
    font-family: 'Blinker', 'Roboto', sans-serif;
    font-size: 1.6rem;
}

main {
    padding-top: 8rem;
    min-height: 100vh;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}
