.bubble {
    position: absolute;
    z-index: 5;
    background-color: $black;
    border-radius: 1rem;
    color: $white;

    &__share {
        width: 30rem;
        bottom: 150%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;

        &:before {
            position: absolute;
            content: '';
            width: 1.5rem;
            height: 1.5rem;
            background-color: $black;
            clip-path: polygon(0% 0%, 100% 0%, 50% 50%);
            bottom: -1.4rem;
            left: 1rem;
        }
    }

    &__options {
        left: -6rem;
        top: 130%;
        width: 20rem;
        display: flex;
        flex-direction: column;

        &::before {
            position: absolute;
            content: '';
            width: 1.5rem;
            height: 1.5rem;
            background-color: $black;
            clip-path: polygon(50% 50%, 100% 100%, 0% 100%);
            top: -1.4rem;
            left: 5.65rem;
        }

        svg,
        img {
            height: 2rem;
            width: auto;
            position: absolute;
            left: 1rem;

            &.info {
                left: 1.6rem;
            }
        }
    }

    &__header {
        background-color: $black;
        color: $white;
        position: absolute;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        left: -90%;
    }
}
