.btn {
    font-size: 2rem;
    font-weight: 600;
    padding: 0.8rem 1.6rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-list {
    color: $white;
    background-color: $cta;

    img,
    svg {
        height: 1.5rem;
        width: auto;
        margin-right: 1.2rem;
    }
}

.btn-danger {
    background-color: $primary;
    color: $white;
}

.btn-full {
    width: 100%;
}

@media screen and (min-width: 900px) {
    .btn-list {
        &:hover {
            filter: contrast(1.1);
        }
    }

    .btn-danger {
        &:hover {
            filter: contrast(1.1);
        }
    }
}
