.gift-preview {
    width: 100%;
    padding: 0.4rem;
    margin: 0.4rem 0;

    border-radius: 1.2rem;
    cursor: pointer;

    &.selected {
        background: linear-gradient(to right bottom, $primary, $secondary);
        box-shadow: 2px 4px 4px rgba($black, 0.25);

        .preview {
            border: none;
            box-shadow: none;
        }
    }

    .preview {
        border: 2px solid;
        border-radius: 1rem;
        background: $white;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 2px 4px 4px rgba($black, 0.25);
        padding: 0 1rem;

        &__left {
            display: flex;
            align-items: center;

            h3 {
                font-size: 2rem;
            }

            .heart {
                font-size: 1.8rem;
                margin-right: 1rem;
                &.red {
                    color: $primary;
                }
            }
        }

        button {
            font-size: 1.4rem;
            width: 8rem;

            &.booked {
                background-color: $primary;
            }
        }

        span {
            color: $primary;
        }
    }
}

@media screen and (min-width: 600px) {
    .gift-preview {
        width: 90%;
        margin: 1rem auto;

        .preview {
            height: 6rem;
            padding: 0 2rem;

            &__left {
                h3 {
                    font-size: 2.2rem;
                }

                .heart {
                    font-size: 2rem;
                }
            }

            button {
                font-size: 1.6rem;
                width: 8rem;
            }
        }
    }
}
@media screen and (min-width: 900px) {
    .gift-preview {
        &:hover {
            background: linear-gradient(to right bottom, $primary, $secondary);
            box-shadow: 2px 4px 4px rgba($black, 0.25);

            .preview {
                border: none;
                box-shadow: none;
            }
        }
    }
}
