.ipt {
    border: 2px solid #c4c4c4;
    border-radius: 1rem;
    padding: 1.2rem;
    outline: none;
    width: 100%;

    &:focus,
    &:hover {
        border: 2px solid $linear-bg-start;
    }
}
