.modal__new-list,
.modal__edit-list,
.modal__share-list,
.modal__shared-new-list,
.modal__shared-list-info,
.modal__new-gift {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $black;
    background-color: $white;
    box-shadow: 4px 4px 10px rgba($black, 0.2);
    border-radius: 1rem;
    padding: 2.5rem;

    form {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;

        .form-container {
            width: 100%;
            display: flex;

            .left {
                padding: 0 1rem;
                width: 70%;
            }

            .right {
                padding: 0 1rem;
                width: 30%;
            }
        }

        label {
            font-size: 1.8rem;
            font-weight: normal;
            margin-bottom: 1rem;
        }

        input {
            margin-bottom: 1rem;
            font-size: 1.8rem;

            &::placeholder {
                color: rgba(#c4c4c4, 0.8);
            }
        }

        p.error {
            color: $primary;
        }

        button {
            margin-top: 1rem;
        }
    }

    section {
        display: flex;
        flex-direction: column;

        margin-top: 1.5rem;

        strong {
            font-weight: bold;
        }

        .share-status {
            margin-bottom: 1rem;
        }

        .share-code {
            width: 100%;
            padding-bottom: 1rem;

            button {
                margin: 0;
            }
        }

        .share-link {
            button {
                margin-top: 1rem;
            }
        }

        button {
            margin-top: 2rem;
        }
    }

    ul {
        margin: 1rem 0;
        font-size: 1.8rem;

        li {
            margin: 0.5rem 0;
            span {
                font-weight: bold;
            }
        }
    }

    .favorite {
        display: flex;
        align-items: baseline;

        input {
            margin-left: 1.5rem;
        }
    }
}

.modal__list-options {
    background-color: transparent;
    border-radius: 1rem;

    button {
        width: 100%;
        margin: 0.5rem 0;
        padding: 1.5rem 0;
        background-color: $white;
        box-shadow: 2px 2px 5px rgba($black, 0.2);

        &.btn-list {
            color: $black;
        }
        &.btn-danger {
            color: $primary;
        }
    }
}
