.modal__new-list,
.modal__edit-list,
.modal__share-list,
.modal__shared-new-list,
.modal__shared-list-info,
.modal__new-gift,
.modal__gift-details,
.modal__gift-edit,
.modal__book-gift {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $black;
    background-color: $white;
    box-shadow: 4px 4px 10px rgba($black, 0.2);
    border-radius: 1rem;
    padding: 2.5rem;

    form {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;

        label {
            font-size: 1.8rem;
            font-weight: normal;
            margin-bottom: 1rem;
        }

        input {
            margin-bottom: 1rem;
            font-size: 1.8rem;

            &::placeholder {
                color: rgba(#c4c4c4, 0.8);
            }
        }

        p.error {
            color: $primary;
        }

        button {
            margin-top: 1rem;
        }
    }

    section {
        display: flex;
        flex-direction: column;

        margin-top: 1.5rem;

        strong {
            font-weight: bold;
        }

        .share-status {
            margin-bottom: 1rem;
        }

        .share-code {
            width: 100%;
            padding-bottom: 1rem;

            button {
                margin: 0;
            }
        }

        .share-link {
            button {
                margin-top: 1rem;
            }
        }

        button {
            margin-top: 2rem;
        }
    }

    ul {
        margin: 1rem 0;
        font-size: 1.8rem;

        li {
            margin: 0.5rem 0;
            span {
                font-weight: bold;
            }
        }
    }

    .favorite {
        display: flex;
        align-items: baseline;

        input {
            margin-left: 1.5rem;
        }
    }
}

.modal__list-options {
    background-color: transparent;
    border-radius: 1rem;

    button {
        width: 100%;
        margin: 0.5rem 0;
        padding: 1.5rem 0;
        background-color: $white;
        box-shadow: 2px 2px 5px rgba($black, 0.2);

        &.btn-list {
            color: $black;
        }
        &.btn-danger {
            color: $primary;
        }
    }
}

.modal__gift-details {
    .shared-preview {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .header {
            display: flex;
            flex-direction: column;
            align-items: baseline;

            div {
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                h2 {
                    font-size: 2.5rem;
                    margin-bottom: 1rem;

                    .red {
                        color: $primary;
                        margin-right: 1rem;
                    }
                }
            }

            a {
                color: $primary;
            }
        }

        ul {
            font-size: 2rem;

            li {
                margin-bottom: 0.5rem;

                span {
                    font-weight: bold;
                    margin-right: 0.5rem;
                    color: $primary;
                }
            }
        }

        button {
            margin-top: 1rem;
            align-self: start;
            width: 100%;

            &.booked {
                background-color: $primary;
            }
        }

        & > span {
            font-weight: 2rem;
            color: $primary;
        }
    }
}

.modal__gift-edit {
    form {
        .ipt {
            padding: 0.8rem;
            font-size: 1.6rem;
            margin-bottom: 0.4rem;
        }

        .form__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.5rem;
        }
    }
}

.modal__new-gift {
    form {
        .ipt {
            padding: 0.6rem;
            margin-bottom: 0.4rem;
            font-size: 1.6rem;
        }

        .error {
            margin: 0;
        }
    }
}

.modal__book-gift {
    cursor: default;
    .book-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 3rem;
        }
    }

    p {
        margin: 1rem 0;
    }

    label {
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

        input {
            width: 4rem;
            height: 4rem;
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;

        .book-btn {
            margin: 0.5rem 0;
        }
    }
}

@media screen and (min-width: 600px) {
    .modal__gift-edit {
        form {
            .ipt {
                padding: 1rem;
                font-size: 1.8rem;
                margin-top: 0.4rem;
                margin-bottom: 0.8rem;
            }

            & > div {
                margin-bottom: 0.8rem;
            }

            .line-3 {
                display: flex;

                div {
                    margin: 0 0.5rem;
                }
            }
        }
    }

    .modal__new-gift {
        form {
            .ipt {
                padding: 1.2rem;
                margin-bottom: 1rem;
                font-size: 1.8rem;
            }

            .line-1,
            .line-3 {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .title {
                    width: 70%;
                }
            }

            .line-3 {
                & > div:nth-of-type(2) {
                    margin: 0 1rem;
                }
            }

            .error {
                margin: 0;
            }
        }
    }

    .modal__book-gift {
        p {
            font-size: 1.8rem;
        }

        label {
            justify-content: flex-start;
            input {
                margin-right: 1rem;
                width: 2rem;
                height: 2rem;
            }
        }

        .buttons {
            flex-direction: row;
            justify-content: space-between;

            .book-btn {
                width: 48% !important;
                margin: 0;
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .modal__list-options {
        button {
            &:hover {
                background-color: #e6e6e6;
            }
        }
    }

    .modal__book-gift {
        p {
            margin: 2rem 0;
        }

        label {
            margin-bottom: 2rem;
        }
    }
}
