<table class="min-w-full">
    <thead>
        <tr class="sticky bg-white top-16">
            <TableHeader v-for="header in headers" :key="header.title" :content="header.title"
                :sortable="header.sortable" :sorted="header.sorted"
                :class="header.width ? header.width : `w-1/${headers.length}`" @sort="handleTableHeaderClick(header)"
                @up="handleTableHeaderClick(header, 'up')" @down="handleTableHeaderClick(header, 'down')" />
            <th scope="col" class="relative px-6 py-3" :class="`w-1/${headers.length}`">
                <span class="sr-only">Options</span>
            </th>
        </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-100">
        <slot />
    </tbody>
</table>