<div class="rounded grid grid-cols-7 grid-rows-7 place-content-start h-full w-full gap-2 gap-y-1">
    <span v-for="day in weekDays" :key="day" :class="header">{{ day }}</span>

    <div v-for="day in previousMonthDays" :key="day" :class="[
				grayed,
				day <= new Date()
					? 'text-gray-400 cursor-not-allowed hover:bg-gray-200'
					: 'text-gray-600 hover:bg-gray-300',
			]" @click="changeDate(day)">
        {{ day.getDate() }}
    </div>
    <div v-for="(day, i) in monthDays" :key="day" :class="[
				compareDate(day) ? selected : base,
				i === 0 ? `col-start-${day.getDay() === 0 ? 7 : day.getDay()}` : '',
				day <= new Date()
					? `border-gray-300 hover:bg-white text-${
							compareDate(day) ? 'white' : 'gray-400'
					  } cursor-not-allowed`
					: `border-indigo-200 text-${
							compareDate(day) ? 'white' : 'indigo-600'
					  } hover:bg-indigo-100 hover:border-indigo-100`,
			]" @click="changeDate(day)">
        {{ day.getDate() }}
    </div>
    <div v-for="day in nextMonthDays" :key="day"
        :class="[grayed, day <= new Date() ? `border-gray-300 bg-white text-gray-400` : '']" @click="changeDate(day)">
        {{ day.getDate() }}
    </div>
</div>