.landing {
    min-height: calc(100vh - 8rem);

    section {
        min-height: calc(90vh - 8rem);
        padding-top: 1rem;
        padding-left: 5rem;
        padding-right: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &.hero {
            padding-top: 0;

            h1 {
                font-size: 6.5rem;
                font-weight: bold;
            }

            p {
                font-size: 3.5rem;
            }

            button {
                margin-top: 2rem;
                font-size: 2rem;
                min-width: 20rem;
                width: 25%;
                max-width: 30rem;
                padding: 1.2rem 0;
                font-weight: 600;
                text-transform: uppercase;
            }
        }

        &.about {
            height: calc(110vh - 8rem);
            padding-top: 10rem;
            padding-bottom: 5rem;
            background: $primary;
            color: $white;
            clip-path: polygon(0% 10vh, 100% 0%, 100% 100%, 0% 100%);

            h2 {
                font-size: 5.5rem;
                font-weight: bold;
                margin-bottom: 1rem;
            }

            .details {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 2rem;

                div {
                    min-width: 25rem;
                    max-width: 40rem;
                    width: 30%;
                    height: 100%;
                    padding: 3rem 2rem 5rem 2rem;
                    margin: 0 2rem;

                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    background-color: $white;
                    color: $black;
                    border-radius: 1rem;
                    box-shadow: 2px 4px 4px rgba($black, 0.2);

                    img {
                        height: 4.8rem;
                        width: auto;
                        margin-bottom: 1.5rem;
                    }

                    h3 {
                        font-size: 2.5rem;
                        margin-bottom: 1rem;
                    }

                    p {
                        font-size: 1.8rem;
                        text-align: center;
                        margin-top: 1rem;
                    }
                }
            }

            button {
                margin-top: 1.5rem;
                font-size: 2rem;
                min-width: 20rem;
                width: 25%;
                max-width: 30rem;
                padding: 1.2rem 0;
                font-weight: 600;
                text-transform: uppercase;
                background-color: $secondary;
            }
        }
    }
}
