.list {
    min-height: calc(100vh - 8rem);
    max-height: calc(100vh - 8rem);
    overflow: hidden;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > div {
            display: flex;
            align-items: baseline;
        }

        h1 {
            font-size: 3.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        h2 {
            margin-left: 1rem;
        }

        button.mobile {
            position: fixed;
            bottom: 1rem;
            right: 2rem;
            width: 6rem;
            z-index: 8;
            height: 6rem;
            border-radius: 50%;
            font-weight: 400;
            font-size: 1.8rem;
            box-shadow: 2px 2px 4px rgba($black, 0.2);

            svg {
                height: 2.5rem;
                width: auto;
                margin: 0;
            }
        }

        button.desktop {
            display: none;
        }
    }

    &__content {
        display: flex;
        flex: auto;
        max-height: 73vh;

        .gifts {
            padding: 1rem;
            width: 100%;
            align-items: stretch;
            overflow: auto;

            h2 {
                font-size: 2.5rem;
                font-weight: bold;
            }

            p.nothing {
                color: $primary;
                font-size: 2rem;
                margin: 1rem 0;
                margin-left: 2rem;
            }
        }

        .vl {
            display: none;
        }

        .editor {
            display: none;
        }
    }
}

@media screen and (max-width: 900px) {
    .list {
        &__header {
            button.mobile {
                bottom: 3rem;
                right: 3rem;
            }
        }
        &__content {
            .gifts {
                &::-webkit-scrollbar {
                    display: none;
                }
                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .list {
        padding: 2rem 8rem;

        &__header {
            h1 {
                font-size: 4.5rem;
            }

            button.mobile {
                width: 8rem;
                height: 8rem;

                svg {
                    height: 3rem;
                }
            }
        }
    }
}
@media screen and (min-width: 900px) {
    .list {
        padding: 1rem 5rem;
        padding-bottom: 5rem;

        .details {
            display: none;
        }

        &__header {
            h1 {
                line-height: 5.5rem;
            }

            .mine {
                align-items: center;
            }

            button.desktop {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 2rem;
                font-weight: bold;
                font-size: 1.8rem;
                text-transform: uppercase;

                svg {
                    margin-right: 1rem;
                }
            }

            button.mobile {
                display: none;
            }
        }

        &__content {
            .gifts {
                width: 49%;

                h2 {
                    font-size: 3rem;
                }
            }

            .vl {
                display: block;
                width: 0.5rem;
                align-self: stretch;
                background: linear-gradient(to bottom, $primary, $secondary);
            }

            .editor {
                width: 49%;
                padding: 1rem 5rem;
                display: grid;
                place-items: center;

                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;

                    .error {
                        color: $primary;
                    }

                    svg {
                        display: none;
                    }

                    h2 {
                        font-size: 3rem;
                        font-weight: bold;
                        margin-bottom: 2rem;
                    }

                    & > div {
                        margin-bottom: 1.5rem;
                    }

                    label {
                        font-size: 1.8rem;
                        font-weight: bold;
                    }

                    input[type='text'] {
                        margin-top: 0.5rem;
                    }

                    .line-1 {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        input[type='checkbox'] {
                            margin-left: 1.5rem;
                        }
                    }

                    .line-3 {
                        display: flex;
                        justify-content: space-between;

                        div:nth-of-type(2) {
                            margin: 0 1rem;
                        }
                    }

                    button {
                        margin-top: 1rem;
                    }
                }

                .shared-preview {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .header {
                        display: flex;
                        flex-direction: column;
                        align-items: baseline;
                        margin-bottom: 2rem;

                        div {
                            h2 {
                                font-size: 3rem;

                                .red {
                                    color: $primary;
                                    margin-right: 2rem;
                                }
                            }

                            svg {
                                display: none;
                            }
                        }

                        a {
                            color: $primary;
                        }
                    }

                    ul {
                        font-size: 2rem;

                        li {
                            margin-bottom: 1rem;

                            span {
                                font-weight: bold;
                                margin-right: 1rem;
                                color: $primary;
                            }
                        }
                    }

                    button {
                        margin-top: 2rem;
                        align-self: start;
                        width: 30%;

                        &.booked {
                            background-color: $primary;
                        }
                    }

                    & > span {
                        font-weight: 2rem;
                        color: $primary;
                    }
                }
            }
        }
    }
}
