.login,
.register {
    min-height: calc(100vh - 8rem);
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 3.5rem;
        font-weight: bold;
    }

    p {
        text-align: center;

        a {
            color: $primary;
            display: block;
        }
    }

    form {
        display: flex;
        flex-direction: column;

        div.inputs {
            div {
                margin: 0.5rem 0;
            }

            label {
                font-weight: bold;
            }

            .ipt {
                font-size: 1.8rem;
                margin-top: 0.5rem;
                padding: 1rem;

                &:focus {
                    border-color: $secondary;
                }

                &.ipt-error {
                    border-color: $primary;

                    &:focus {
                        border-color: $secondary;
                    }
                }
            }

            .error {
                color: $primary;
                font-size: 1.5rem;
            }

            button {
                margin-top: 2rem;
                padding: 1rem;
            }
        }

        .password-checker {
            margin-top: 2rem;
            align-self: center;

            h2 {
                margin-bottom: 1rem;
            }

            li {
                padding: 0.5rem 0;
                display: flex;
                align-items: center;

                &.valid {
                    color: $green;
                }

                svg {
                    height: 2.4rem;
                    width: auto;
                    margin-right: 1rem;
                }
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .login,
    .register {
        h1 {
            font-size: 4rem;
        }

        p {
            font-size: 1.8rem;
        }

        form {
            flex-direction: row;
            align-items: center;
            margin-top: 1rem;

            div.inputs {
                label {
                    font-size: 1.8rem;
                }

                .ipt {
                    font-size: 1.8rem;
                }

                button {
                    font-size: 2rem;
                }
            }

            .password-checker {
                margin: 0;
                padding-left: 3rem;
            }
        }
    }
}
@media screen and (min-width: 900px) {
    .login,
    .register {
        form {
            div.inputs {
                .ipt {
                    &:hover {
                        border-color: $secondary;
                    }

                    &.ipt-error {
                        border-color: $primary;

                        &:hover {
                            border-color: $secondary;
                        }
                    }
                }
            }
        }
    }
}
