.footer {
    height: 8rem;
    padding: 1rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $secondary;

    a {
        color: $primary;
    }
}
