header {
    height: 8rem;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100vw;

    background-color: $white;
    box-shadow: 0px 1px 5px rgba($secondary, 0.2);

    @include lg-container-padding(5rem);

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        // Add Typography Styling

        .logo {
            font-size: 3rem;
        }

        nav ul {
            display: flex;

            li {
                position: relative;

                svg {
                    height: 2.4rem;
                    width: auto;
                    margin-left: 3rem;
                }
            }
        }
    }
}
