<InputWrapper :label="label" :isError="isError" :errorMessage="errorMessage" :helperText="helperText"
    :selected="selected" :copied="copied" :mandatory="mandatory">
    <input v-model="refValue" :type="type" :disabled="disabled" :placeholder="placeholder"
        class="outline-none px-3 py-2 flex-1 caret-indigo-600" @focus="onFocus" @blur="onBlur" :tabindex="tab" />
    <XIcon v-if="reset" class="text-gray-400 hover:text-gray-500 h-5 w-5 cursor-pointer self-center mr-2"
        @click="onResetText" />
    <button v-if="copy" @click="copyToClipboard" class="relative w-8 border-l border-gray-100 hover:bg-gray-100">
        <TransitionRoot :show="!copied" enter="transition-opacity duration-500  delay-200" enter-from="opacity-0"
            enter-to="opacity-100" leave="transition-opacity duration-100" leave-from="opacity-100"
            leave-to="opacity-0">
            <ClipboardCopyIcon class="
						absolute
						w-5
						top-1/2
						left-1/2
						transform
						-translate-x-1/2 -translate-y-1/2
						text-indigo-600
					" />
        </TransitionRoot>
        <TransitionRoot :show="copied" enter="transition-opacity duration-500 delay-200" enter-from="opacity-0"
            enter-to="opacity-100" leave="transition-opacity duration-100" leave-from="opacity-100"
            leave-to="opacity-0">
            <ClipboardCheckIcon class="
						absolute
						w-5
						top-1/2
						left-1/2
						transform
						-translate-x-1/2 -translate-y-1/2
						text-green-500
					" />
        </TransitionRoot>
    </button>
</InputWrapper>