<div class="border border-gray-200 shadow-sm rounded-md p-4 flex flex-col cursor-pointer">
    <div class="flex items-center">
        <ShoppingCartIcon class="w-12 p-3 mr-4 rounded-md bg-gray-100 text-yellow-400" />
        <div class="flex flex-col">
            <span class="font-semibold">
                {{ gift.title }}
            </span>
            <div class="flex items-center">
                <CurrencyEuroIcon class="w-4 mr-1 text-indigo-600" />
                <span class="text-sm">{{ price }}</span>
            </div>
        </div>
        <div class="ml-auto self-start flex gap-2 flex-col items-end justify-between">
            <HeartIcon v-if="gift.isFavorite" @click.stop="unfavGift" class="w-6 h-6 text-red-400 cursor-pointer" />
            <HeartIconOutline v-else class="w-6 h-6 text-gray-400 cursor-pointer" @click.stop="favGift" />
            <span v-if="shared" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full" :class="{
                'bg-red-100 text-red-800': gift.isBooked,
                'bg-green-100 text-green-800': !gift.isBooked,
            }">
                {{ gift.isBooked ? labels.gifts.status.booked : labels.gifts.status.available }}
            </span>
        </div>
    </div>
    <div class="mt-4 flex justify-between items-center">
        <div>
            <div class="flex items-center text-sm text-gray-500">
                <span>
                    {{ gift.category }}
                </span>
            </div>
            <div class="flex items-center">
                <UserCircleIcon class="w-5 mr-2 text-indigo-600" />
                <span>
                    Creator name
                </span>
            </div>
        </div>
        <div class="flex self-end gap-4">
            <ExternalLinkIcon v-if="gift.linkURL" class="w-6 text-gray-400 cursor-pointer hover:text-indigo-600"
                @click.stop="openInNewTab" />
            <TicketIcon v-if="shared" class="w-6 text-gray-400 cursor-pointer hover:text-red-600"
                @click.stop="openBookGiftModal" />
            <TrashIcon v-else class="w-6 text-gray-400 cursor-pointer hover:text-red-600"
                @click.stop="openDeleteGiftModal" />
        </div>
    </div>
</div>