<DefaultLayout :title="list.title" back :backButtonTitle="labels.titles.lists" backButtonLink="/app/lists">
    <div v-if="loading" class="absolute top-0 bottom-0 right-0 left-0 grid place-items-center">
        <Loader class="w-16 h-16" />
    </div>

    <div v-else>

        <div v-if="!isListView"
            class="my-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 grid-flow-row gap-x-4 gap-y-8">
            <GiftGridView v-for="gift in gifts" :key="gift.id" :gift="gift" />
        </div>
        <Table v-else :headers="tableHeaders" @sort="handleSort">
            <tr v-for="gift in gifts" :key="gift.id" class="cursor-pointer hover:bg-gray-50"
                @click="router.push(`/app/lists/${list.id}/gift/${gift.id}`)">
                <GiftListView :gift="gift" @delete="handleDeleteModal" />
            </tr>
        </Table>

        <Modal :show="sharingOptionsModal.showModal" :title="sharingOptionsModal.title"
            :cancelText="sharingOptionsModal.cancelText" @close="sharingOptionsModal.showModal = false">

            <p class="mb-2">
                {{ labels.modals.sharingOptions.statusText }}
                <span class="font-semibold" :class="list.isShared ? 'text-green-600' : 'text-red-600'">
                    {{ list.isShared ? labels.lists.status.public.toLowerCase() :
                    labels.lists.status.private.toLowerCase() }}.
                </span>
            </p>
            <div class="py-2">
                <InputLink :label="labels.modals.sharingOptions.link.label" :value="listSharingLink"
                    :helperText="labels.modals.sharingOptions.link.helperText" copy :disabled="!list.isShared" />
            </div>
            <div class="py-2">
                <InputText :label="labels.modals.sharingOptions.code.label" :value="list.sharingCode"
                    :helperText="labels.modals.sharingOptions.code.helperText" copy :disabled="!list.isShared" />
            </div>
            <Button class="mb-4 w-full" :btnStyle="list.isShared ? 'danger-soft' : 'green-soft'"
                :loading="shareButtonIsLoading" @click="sharingOptionsModal.confirm">{{
                sharingOptionsModal.confirmText }}</Button>
        </Modal>

        <Modal :show="deleteModal.showModal" :title="deleteModal.title" :confirmText="deleteModal.confirmText"
            @close="deleteModal.showModal = false" @confirm="deleteModal.confirm" :btnLoading="deleteButtonIsLoading"
            type="danger">
        </Modal>
    </div>
    <template v-slot:commands>
        <span v-if="list.isShared"
            class="flex items-center mr-4 text-green-600 font-medium hover:text-green-900 hover:bg-green-100 px-2 py-1 rounded-md cursor-pointer"
            @click="showSharingOptionsModal">
            <LockOpenIcon class="h-4 w-4 mr-2" />
            {{labels.lists.status.public}}
        </span>
        <span v-else
            class="flex items-center mr-4 text-red-600 font-medium hover:text-red-900 hover:bg-red-100 px-2 py-1 rounded-md cursor-pointer"
            @click="showSharingOptionsModal">
            <LockClosedIcon class="h-4 w-4 mr-2" />
            {{labels.lists.status.private}}
        </span>
        <span class="
                flex
                items-center
                mr-4
                text-indigo-600
                font-medium
                hover:text-indigo-900
                cursor-pointer
            " @click="router.push(`/app/lists/${list.id}/settings`)">
            <CogIcon class="h-4 w-4 mr-2" />
            {{ labels.lists.buttons.settings }}
        </span>
        <GridListToggle :isGridView="!isListView" class="w-28" @change="toggleDisplayMode" />
    </template>

</DefaultLayout>