<div v-if="loading">Loading...</div>
<DefaultLayout v-else :title="labels.titles.lists">

    <div v-if="lists.length === 0"
        class="absolute w-full h-full flex flex-col justify-center items-center text-gray-400 gap-8">
        <div class="text-lg">{{labels.lists.empty.description}}</div>
        <CollectionIcon class="w-1/6" />
        <Button btnStyle="primary-soft" @click="router.push(`/app/lists/new`)">
            {{labels.lists.empty.button}}
        </Button>
    </div>
    <div v-else>
        <Table :headers="tableHeaders" @sort="handleSort">
            <tr v-for="list in lists" :key="list.id" class="cursor-pointer hover:bg-gray-50"
                @click="router.push(`/app/lists/${list.id}`)">
                <ListItem :list="list" @delete="openDeleteModal" />
            </tr>
        </Table>
    </div>

    <Modal :show="deleteModalIsOpen" @confirm="deleteList" @close="closeDeleteModal" type="danger"
        :title="labels.modals.deleteList.title + listToDelete?.title" :confirmText="labels.modals.deleteList.confirm"
        :cancelText="labels.modals.deleteList.cancel">
        <p class="text-sm text-gray-500">{{ labels.modals.deleteList.text }}</p>
        <p class="text-sm text-gray-500">{{ labels.modals.deleteList.text2 }}</p>
    </Modal>
</DefaultLayout>