<DefaultLayout :title="labels.titles.lists">
    <div v-if="loading" class="absolute top-0 bottom-0 right-0 left-0 grid place-items-center">
        <Loader class="w-16 h-16" />
    </div>
    <div v-else>

        <Table :headers="tableHeaders" @sort="handleSort">
            <tr v-for="list in lists" :key="list.id" class="cursor-pointer hover:bg-gray-50"
                @click="router.push(`/app/lists/${list.id}`)">
                <ListItem :list="list" @delete="openDeleteModal" />
            </tr>
        </Table>



        <Modal :show="deleteModalIsOpen" @confirm="deleteList" @close="closeDeleteModal" type="danger"
            :title="labels.modals.deleteList.title + listToDelete?.title"
            :confirmText="labels.modals.deleteList.confirm" :cancelText="labels.modals.deleteList.cancel"
            :btnLoading="deleteModalButtonIsLoading">
            <p class="text-sm text-gray-500">{{ labels.modals.deleteList.text }}</p>
            <p class="text-sm text-gray-500">{{ labels.modals.deleteList.text2 }}</p>
        </Modal>
    </div>
</DefaultLayout>