<div class="flex flex-col">
    <form class="p-4 flex flex-col divide-y my-4">
        <div class="grid grid-cols-6 gap-4 mb-4">
            <InputText class="col-span-2" :label="values.title.label" :value="values.title.value"
                :placeholder="values.title.placeholder" :helperText="values.title.helperText"
                :isError="values.title.errorMessage !== ''" :errorMessage="values.title.errorMessage"
                :mandatory="values.title.required" reset @change="(value) => handleChange('title', value)">
                <div class="mr-4">
                    <GiftIcon class="w-5 h-5 text-indigo-600" />
                </div>
            </InputText>

            <InputToggle class="col-span-2 self-center" :label="values.isFavorite.label"
                :value="values.isFavorite.value" :helperText="values.isFavorite.helperText"
                @change="(value) => handleChange('isFavorite', value)">
                <div class="mr-4">
                    <HeartIcon v-if="!values.isFavorite.value" class="w-5 h-5 text-indigo-600" />
                    <HeartIconFull v-else class="w-5 h-5 text-red-600" />
                </div>
            </InputToggle>

            <InputSelect class="col-start-1 col-span-2" :label="values.category.label" :value="values.category.value"
                :options="values.category.options" :helperText="values.category.helperText"
                :errorMessage="values.category.errorMessage" @change="(value) => handleChange('category', value)">
                <div class="mr-4">
                    <FilterIcon class="w-5 h-5 text-indigo-600" />
                </div>
            </InputSelect>

            <InputNumber class="col-span-1" :label="values.price.label" :value="values.price.value"
                :placeholder="values.price.placeholder" :helperText="values.price.helperText"
                :errorMessage="values.price.errorMessage" @change="(value) => handleChange('price', value)">
                <div class="mr-4">
                    <CurrencyEuroIcon class="w-5 h-5 text-indigo-600" />
                </div>
            </InputNumber>

            <InputLink class="col-span-full" :label="values.link.label" :value="values.link.value"
                :placeholder="values.link.placeholder" :helperText="values.link.helperText"
                :errorMessage="values.link.errorMessage" open reset @change="(value) => handleChange('link', value)">
                <div class="mr-4">
                    <LinkIcon class="w-5 h-5 text-indigo-600" />
                </div>
            </InputLink>
        </div>

        <div class="col-start-1 col-span-full flex flex-col gap-4">
            <InputToggle class="mt-4" :label="values.showDetails.label" :value="values.showDetails.value"
                :helperText="values.showDetails.helperText" inline
                @change="(value) => handleChange('showDetails', value)">
                <div class="mr-4">
                    <InformationCircleIcon class="w-5 h-5"
                        :class="values.showDetails.value ? 'text-indigo-600' : 'text-gray-600'" />
                </div>
            </InputToggle>

            <div class="flex gap-12" v-show="values.showDetails.value">
                <InputText class="flex-1" :label="values.brand.label" :value="values.brand.value"
                    :placeholder="values.brand.placeholder" :helperText="values.brand.helperText"
                    :errorMessage="values.brand.errorMessage" :mandatory="values.brand.required" reset
                    @change="(value) => handleChange('brand', value)">
                    <div class="mr-4">
                        <TagIcon class="w-5 h-5 text-indigo-600" />
                    </div>
                </InputText>
                <InputText class="flex-1" :label="values.color.label" :value="values.color.value"
                    :placeholder="values.color.placeholder" :helperText="values.color.helperText"
                    :errorMessage="values.color.errorMessage" :mandatory="values.color.required" reset
                    @change="(value) => handleChange('color', value)">
                    <div class="mr-4">
                        <ColorSwatchIcon class="w-5 h-5 text-indigo-600" />
                    </div>
                </InputText>
                <InputText class="flex-2" :label="values.size.label" :value="values.size.value"
                    :placeholder="values.size.placeholder" :helperText="values.size.helperText"
                    :errorMessage="values.size.errorMessage" :mandatory="values.size.required" reset
                    @change="(value) => handleChange('size', value)">
                    <div class="mr-4">
                        <ChartBarIcon class="w-5 h-5 text-indigo-600" />
                    </div>
                </InputText>
            </div>

            <InputText v-show="values.showDetails.value" class="col-start-1 col-span-full"
                :label="values.comments.label" :value="values.comments.value" :placeholder="values.comments.placeholder"
                :helperText="values.comments.helperText" :errorMessage="values.comments.errorMessage"
                :mandatory="values.comments.required" reset @change="(value) => handleChange('comments', value)">
                <div class="mr-4">
                    <AnnotationIcon class="w-5 h-5 text-indigo-600" />
                </div>
            </InputText>
        </div>
    </form>
    <div class="flex justify-end gap-4">
        <Button btnStyle="danger" hasIcon @click="$emit('cancel')">
            <template v-slot:icon>
                <XIcon />
            </template>
            {{ labels.gift.buttons.cancel }}
        </Button>

        <Button btnStyle="primary" hasIcon @click="$emit('confirm')">
            <template v-slot:icon>
                <CheckIcon />
            </template>
            {{ confirmText }}
        </Button>
    </div>
</div>