<div class="flex flex-col">
    <form class="p-4 flex flex-col divide-y my-4">
        <div class="grid grid-cols-6 gap-4 mb-4">
            <InputText class="col-span-2" :label="values.title.label" :value="values.title.value"
                :placeholder="values.title.placeholder" :helperText="values.title.helperText"
                :isError="values.title.errorMessage !== ''" :errorMessage="values.title.errorMessage"
                :mandatory="values.title.required" reset @change="(value) => handleChange('title', value)" />
            <InputToggle class="col-span-2 self-center justify-self-center" :label="values.isFavorite.label"
                :value="values.isFavorite.value" :helperText="values.isFavorite.helperText"
                @change="(value) => handleChange('isFavorite', value)" />

            <InputSelect class="col-start-1 col-span-1" :label="values.category.label" :value="values.category.value"
                :options="values.category.options" :helperText="values.category.helperText"
                :errorMessage="values.category.errorMessage" @change="(value) => handleChange('category', value)" />

            <InputNumber class="col-span-1" :label="values.price.label" :value="values.price.value"
                :placeholder="values.price.placeholder" :helperText="values.price.helperText"
                :errorMessage="values.price.errorMessage" @change="(value) => handleChange('price', value)" />

            <InputLink class="col-span-5" :label="values.link.label" :value="values.link.value"
                :placeholder="values.link.placeholder" :helperText="values.link.helperText"
                :errorMessage="values.link.errorMessage" reset @change="(value) => handleChange('link', value)" />
        </div>

        <div class="col-start-1 col-span-full flex flex-col gap-4">
            <InputToggle class="mt-4" :label="values.showDetails.label" :value="values.showDetails.value"
                :helperText="values.showDetails.helperText" inline
                @change="(value) => handleChange('showDetails', value)" />

            <div class="flex gap-4" v-show="values.showDetails.value">
                <InputText class="col-span-2" :label="values.brand.label" :value="values.brand.value"
                    :placeholder="values.brand.placeholder" :helperText="values.brand.helperText"
                    :errorMessage="values.brand.errorMessage" :mandatory="values.brand.required" reset
                    @change="(value) => handleChange('brand', value)" />
                <InputText class="col-span-2" :label="values.color.label" :value="values.color.value"
                    :placeholder="values.color.placeholder" :helperText="values.color.helperText"
                    :errorMessage="values.color.errorMessage" :mandatory="values.color.required" reset
                    @change="(value) => handleChange('color', value)" />
                <InputText class="col-span-1" :label="values.size.label" :value="values.size.value"
                    :placeholder="values.size.placeholder" :helperText="values.size.helperText"
                    :errorMessage="values.size.errorMessage" :mandatory="values.size.required" reset
                    @change="(value) => handleChange('size', value)" />
            </div>

            <InputText v-show="values.showDetails.value" class="col-start-1 col-span-full"
                :label="values.comments.label" :value="values.comments.value" :placeholder="values.comments.placeholder"
                :helperText="values.comments.helperText" :errorMessage="values.comments.errorMessage"
                :mandatory="values.comments.required" reset @change="(value) => handleChange('comments', value)" />
        </div>
    </form>
    <div class="flex justify-end gap-4">
        <Button btnStyle="danger" hasIcon @click="$emit('cancel')">
            <template v-slot:icon>
                <XIcon />
            </template>
            {{ labels.gift.buttons.cancel }}
        </Button>

        <Button btnStyle="primary" hasIcon @click="$emit('confirm')">
            <template v-slot:icon>
                <CheckIcon />
            </template>
            {{ confirmText }}
        </Button>
    </div>
</div>